<%= notice %>

<h2>Products</h2>

<% if @products.present? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Image Url</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <th><%= product.title %></th>
          <th><%= truncate(strip_tags(product.description), length: 80) %></th>
          <th><%= image_tag(product.image_url, class: 'list_image') if product.image_url.present? %></th>
          <th><%= product.price %></th>
          <th>
            <%= link_to 'Show', product %>
            <%= link_to 'Edit', edit_depot_product_path(product) %>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No products found</p>
<% end %>

<%= link_to "New Product", new_depot_product_path %>
